<div style="margin-top: 65px;">
    <app-bar [progress]="7"></app-bar>
</div>

<form class="border m-5">
    <div class="h2 text-center my-4" style="font-family: Arial, Helvetica, sans-serif; color: #1d3557;">
        Required Documents
    </div>
    <br>
    <br>



    <div *ngIf="!this.loading">
        <div *ngIf="this.documentList.length==0" class="h5 text-center my-4"
            style="font-family: Arial, Helvetica, sans-serif; color: brown;">
            *No Document's Are Currently Required
        </div>

        <div *ngFor="let document of this.documentList; let i = index;">

            <div class="row mx-3 my-4 align-items-center">
                <div class="col-md-2">
                    <label>{{document.Name}}: </label>
                </div>
                <div class="col-md-1 text-right pr-0">
                    <div class="file btn btn-secondary px-2 pb-1 pt-2" style="background-color: #1d3557 !important;">
                        <span class="material-icons" style="font-size: 20px; ">
                            upload
                        </span>
                        <input class="file-input" type="file" (change)="studentUpload($any($event.target).files, i)">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-control">
                        <p *ngIf="this.docIndexes.includes(i); else else4">
                            {{this.submission.formDocs[this.docIndexes.indexOf(i)].file.name }}
                        </p>
                        <ng-template #else4>
                            <p>Choose file..</p>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="row mx-3 mb-3">
                <div class="col-md-4">
                    <div [hidden]="alertsHidden[i] != false" class="">
                        <ngb-alert [dismissible]="false">{{document.Name}} must be {{document.Size}} megabytes maximum.
                        </ngb-alert>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.loading" class="row">
        <div class="col-md-12" [align]="'center'">
            <div class="spinner-border text-secondary" style="width: 6rem; height: 6rem; color: #1d3557 !important;"
                role="status" #loading>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>


    <div class="row mx-3 my-5">
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-primary" (click)="onBack()">Back</button>
        </div>
        <div class="col-md-4 offset-md-4 ">
            <button [disabled]='this.submitDisabled' class="btn btn-primary" type="submit"
                style="position: absolute; right: 5%;" (click)="onSubmit()">Next</button>
        </div>
    </div>
</form>