<div class="container-fluid footer pr-0">
    <div class="row h-100  pt-4" style="width: 100%; margin:  0px 0px 0px 0px !important;">
        <div class="col-lg-2 pl-5">
            <img class="img-fluid" style="filter:contrast(170%)"
                src="/assets/UniversityofPennsylvania_FullLogo_RGB_0.png" alt="Logo">
            <hr class="bg-light" />
            <a routerLink='/admin'>Admin</a>
        </div>

        <div class="col-md-2 offset-md-2 footer-col">
            <div class="footer-title">About Us</div>
            <div class="footer-sub-title"><a href="#">Vision</a></div>
            <div class="footer-sub-title"><a href="#">Contact</a></div>
            <div class="footer-sub-title"><a href="#">Terms & policies</a></div>
        </div>
        <div class="col-md-2 footer-col">
            <div class="footer-title">Locations</div>
            <div class="footer-sub-title"><a href="#">Google maps</a></div>
        </div>
        <div class="col-md-2 footer-col">
            <div class="footer-title">Careers</div>
            <div class="footer-sub-title"><a href="#">Teaching</a></div>
            <div class="footer-sub-title"><a href="#">Assisting</a></div>
            <div class="footer-sub-title"><a href="#">Other</a></div>
        </div>
        <div class="col-md-2 footer-col">
            <div class="footer-title">Links</div>
            <div class="footer-sub-title"><a href="#">Twitter</a></div>
            <div class="footer-sub-title"><a href="#">Gmail</a></div>
            <div class="footer-sub-title"><a href="#">Facebook</a></div>
        </div>
    </div>
</div>