<br>
<br>

<div class="row">
    <div class="col-md-12" [align]="'center'">
        <div *ngIf="!this.submission.loading" class="col-md-12" [align]='"center"'>
            <button class="btn btn-success" (click)="redirect()">Pay with credit card</button>
        </div>
        <div *ngIf="this.submission.loading;" class="spinner-border text-success" role="status"
            style="width: 3rem; height: 3rem;" #loading>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<br>
<br>
<br>