<form class="border main-border my-5" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <div class="h2 text-center my-4" style="font-family: Arial, Helvetica, sans-serif; color: #1d3557;">
                Credit Card
            </div>
        </div>
    </div>

    <ngb-alert [hidden]="!error" [dismissible]="false" type='danger'>Sorry, there seems to be a problem. Try again or
        contact our <a href="#">support</a>.</ngb-alert>

    <div class="row pl-5 pt-5">
        <div class="col-md-3 pr-0 pl-5">
            <label for="cardNum" class="form-label">Card Number: </label>
        </div>
        <div class="col-md-8 ">
            <input type="number" name="CardNumber" id="cardNum" class="form-control"
                [(ngModel)]="this.submission.creditPayment.CardNumber" required #cardNum="ngModel">
            <p style="color: brown; font-size: 15px;" [hidden]=" !cardNum.touched || cardNum.valid ">*Required
            </p>
        </div>
    </div>

    <div class="row pt-3 pl-5 pb-5">
        <div class="col-md-3 pr-0 pl-5">
            <label for="exiryDate" class="form-label">Expiry Date:</label>
        </div>
        <div class="col-md-4">
            <input type="month" class="form-control" name="ExpiryDate" id="expiryDate"
                [(ngModel)]="this.submission.creditPayment.ExpiryDate" required #expiryDate="ngModel">
            <p style="color: brown; font-size: 15px;" [hidden]=" !expiryDate.touched || expiryDate.valid ">
                *Click on the icon to choose a date
            </p>
        </div>

        <div class="col-md-1 pr-0 pl-4">
            <label for="CVV" class="form-label">CVV: </label>
        </div>
        <div class="col-md-3">
            <input type="number" name="CVV" class="form-control" id="CVV"
                [(ngModel)]="this.submission.creditPayment.CVV" required #CVV="ngModel">
            <p style="color: brown; font-size: 15px;" [hidden]=" !CVV.touched || CVV.valid ">*Required

        </div>
    </div>

    <div class="row mb-5 mt-3 px-3">
        <div class="col-md-9 pl-5 pt-1 pr-0">
            <p style="color: grey;">*By clicking confirm you agree to our privacy and policy <a href="#">guidlines</a>.
            </p>
        </div>
        <div class="col-md-2  pr-0 pl-5 pt-5">
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Confirm</button>
        </div>
    </div>
</form>