<div class="container-fluid w-75" style="margin-top: 80px;">
    <div class="row my-5 pr-0" style="cursor: pointer;">
        <div class="col-md-12" [align]='"center"'>
            <h2>Admission Management</h2>
            <hr>
        </div>
    </div>
    <br>
    <div class="row mx-3 my-4 home-panel" routerLink='openAdmission' style="cursor: pointer;">
        <div class="col-md-1 offset-2">
            <i class="material-icons " style="font-size: 60px; color: #1d3557;"> edit_calendar</i>
        </div>
        <div class="col-md-9 pt-1">
            <div class="display-4 " style="font-size:40px;">Open Admission Period</div>
        </div>
    </div>
    <hr class="w-75">

    <div class="row mx-3 my-4 home-panel" routerLink='editAdmission' style="cursor: pointer;">
        <div class="col-md-1 offset-2">
            <i class="material-icons " style="font-size: 60px; color: #1d3557;"> date_range</i>
        </div>
        <div class="col-md-9 pt-1">
            <div class="display-4 " style="font-size: 40px;">Extend Admission Period</div>
        </div>
    </div>
    <!-- <hr class="w-75"> -->

    <!-- <div class="row mx-3 my-4 home-panel" routerLink='setDocuments'>
        <div class="col-md-1 offset-2">
            <i class="material-icons " style="font-size: 60px; color: #1d3557;"> file_present</i>
        </div>
        <div class="col-md-9">
            <div class="display-4 pt-1" style="font-size:40px;">Set Required Documents</div>
        </div>
    </div> -->
</div>