<div class="container mt-5">
    <input class="form-control" type="text" [(ngModel)]="searchTerm">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <!-- <ng-container matColumnDef="Applicant Number">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let row">{{row.ApplicantNumber}}</td>
                </ng-container> -->
            </table>
        </div>
    </div>
</div>