<div class="border main-border my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="h2 text-center my-4" style="font-family: Arial, Helvetica, sans-serif; color: #1d3557;">
                <img src="./assets/nbe2.jpg" alt="nbe Logo" style="width: 20%; height: auto;">
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-12 text-center display-4 px-5">
            Account number: {{accNum}}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12 ">
            <p class="w-50 text-center" style="margin:auto;">Kindly head to the nearest NBE branch and make a deposit to
                this account and keep all the receipts.
            </p>
        </div>
    </div>

    <div class="row mb-5  px-3">
        <div class="col-md-2 offset-9  pr-0 pl-5 pt-5">
            <button *ngIf="!this.submission.loading;" class="btn btn-primary" type="submit"
                (click)="this.submission.patch?this.patch.submitAll():this.submission.submit();">
                Submit
            </button>
            <div *ngIf="this.submission.loading;" class="spinner-border text-primary" style="width: 3rem; height: 3rem;"
                role="status" #loading>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>