<div class="container-fluid mt-5">
    <div class="row pl-5">
        <div class="col-md-1 offset-md-2 p-0">
            <div class="circle-number ml-2" [ngStyle]="{color: progress >= 1 ? 'green' : '#b0b0b0'}">1</div>
            <hr class="connector" [ngStyle]="{borderColor: progress > 1 ? 'green' : '#b0b0b0'}">
        </div>
        <div class="col-md-1 p-0">
            <div class="circle-number ml-2" [ngStyle]="{color: progress >= 2 ? 'green' : '#b0b0b0'}">2</div>
            <hr class="connector" [ngStyle]="{borderColor: progress > 2 ? 'green' : '#b0b0b0'}">
        </div>
        <div class="col-md-1 p-0">
            <div class="circle-number ml-2" [ngStyle]="{color: progress >= 3 ? 'green' : '#b0b0b0'}">3</div>
            <hr class="connector" [ngStyle]="{borderColor: progress > 3 ? 'green' : '#b0b0b0'}">
        </div>
        <div class="col-md-1 p-0">
            <div class="circle-number ml-2" [ngStyle]="{color: progress >= 4 ? 'green' : '#b0b0b0'}">4</div>
            <hr class="connector" [ngStyle]="{borderColor: progress > 4 ? 'green' : '#b0b0b0'}">
        </div>
        <div class="col-md-1 p-0">
            <div class="circle-number ml-2" [ngStyle]="{color: progress >= 5 ? 'green' : '#b0b0b0'}">5</div>
            <hr class="connector" [ngStyle]="{borderColor: progress > 5 ? 'green' : '#b0b0b0'}">
        </div>
        <div class="col-md-1 p-0">
            <div class="circle-number ml-2" [ngStyle]="{color: progress >= 6 ? 'green' : '#b0b0b0'}">6</div>
            <hr class="connector" [ngStyle]="{borderColor: progress > 6 ? 'green' : '#b0b0b0'}">
        </div>
        <div class="col-md-1 p-0">
            <div class="circle-number ml-2" [ngStyle]="{color: progress >= 7 ? 'green' : '#b0b0b0'}">7</div>
            <hr class="connector" [ngStyle]="{borderColor: progress > 7 ? 'green' : '#b0b0b0'}">
        </div>
        <div class="col-md-1 p-0">
            <div class="circle-number ml-2" [ngStyle]="{color: progress >= 8 ? 'green' : '#b0b0b0'}">8</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-1 offset-md-2 milestone" style="padding-left: 38px;"
            [ngStyle]="{color: progress >= 1 ? '#1d3557' : '#b0b0b0'}">
            Student
        </div>

        <div class="col-md-1 milestone" style="padding-left: 35px;"
            [ngStyle]="{color: progress >= 2 ? '#1d3557' : '#b0b0b0'}">
            Parents
        </div>
        <div class="col-md-1 milestone" style="padding-left: 20px;"
            [ngStyle]="{color: progress >= 3 ? '#1d3557' : '#b0b0b0'}">
            Admission
        </div>
        <div class="col-md-1 milestone" style="padding-left: 15px;"
            [ngStyle]="{color: progress >= 4 ? '#1d3557' : '#b0b0b0'}">
            Emergency
        </div>
        <div class="col-md-1 milestone" style="padding-left: 22px;"
            [ngStyle]="{color: progress >= 5 ? '#1d3557' : '#b0b0b0'}">
            Siblings
        </div>
        <div class="col-md-1 milestone" style="padding-left: 18px;"
            [ngStyle]="{color: progress >= 6 ? '#1d3557' : '#b0b0b0'}">
            Medical
        </div>
        <div class="col-md-1 milestone" style="padding-left: 4px;"
            [ngStyle]="{color: progress >= 7 ? '#1d3557' : '#b0b0b0'}">
            Documents
        </div>
        <div class="col-md-1 milestone" style="padding-left: 5px;"
            [ngStyle]="{color: progress >= 8 ? '#1d3557' : '#b0b0b0'}">
            Payment
        </div>
    </div>
</div>