<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-4 mt-5">
                <div class="card-title">
                    <div class="h3">Are you sure you want to start an application?</div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-text">
                                Before starting make sure you have the following:
                                <ul>
                                    <li>Decent connection.</li>
                                    <li>All the required information and certificates mentioned before.</li>
                                    <li>All the required documents.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1 offset-md-5 pl-0">
                            <a routerLink='student' class="btn btn-primary"
                                style="position: absolute; bottom: 0%;">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>