<div class="container-fluid">
    <div class="row nav-main">
        <div class="col-md-3 text-sm-center navbar-text" routerLink="/admin/admissionManagement"
            routerLinkActive="active">
            <a> Management </a>
        </div>
        <div class="col-md-3 text-sm-center navbar-text" routerLink="/admin/viewApplicants" routerLinkActive="active">
            <a> View Applicants </a>
        </div>
        <div class="col-md-3 text-sm-center navbar-text" routerLink="/admin/interviewCriteria"
            routerLinkActive="active">
            <a> Interview Criteria </a>
        </div>
        <div class="col-md-3 text-sm-center navbar-text" routerLink="/admin/applicantsInterview"
            routerLinkActive="active">
            <a> Applicants Interview </a>
        </div>

    </div>
</div>