<div style="margin-top: 65px;">
    <app-bar [progress]="2"></app-bar>
</div>

<form class="border m-5" (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="h2 text-center my-4" style="font-family: Arial, Helvetica, sans-serif; color: #1d3557;">
        Parents Information</div>


    <div class="accordion" id="accordion">
        <div class="card" id="fatherDetails" ngModelGroup=fatherDetails #fatherDetails="ngModelGroup">
            <div class="card-header py-0" id="headingOne" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="collapse-title">
                    Father Details
                    <i class="material-icons" style="font-size: 17px; padding-left: 7px;">create</i>
                </p>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                    <!-- ///////// Father Form \\\\\\\\ -->
                    <div class="row mx-3 my-5">
                        <div class="col-md-4">
                            <label for="fatherFirstName">First Name:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" name="FirstName"
                                class="form-control" id="fatherFirstName"
                                [(ngModel)]="this.submission.parentsData[0].FirstName" required
                                #fatherFirstName="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherFirstName.touched || fatherFirstName.valid ">*Required</p>
                        </div>
                        <div class="col-md-4">
                            <label for="fatherSecondName">Second Name:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" name="SecondName"
                                class="form-control" id="fatherSecondName"
                                [(ngModel)]="this.submission.parentsData[0].SecondName" required
                                #fatherSecondName="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherSecondName.touched || fatherSecondName.valid ">*Required</p>
                        </div>
                        <div class="col-md-4">
                            <label for="fatherThirdName">Third Name:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" name="ThirdName"
                                class="form-control" id="fatherThirdName"
                                [(ngModel)]="this.submission.parentsData[0].LastName" required
                                #fatherThirdName="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherThirdName.touched || fatherThirdName.valid ">*Required</p>
                        </div>
                    </div>

                    <div class="row mx-3 my-5">
                        <div class="col-md-4">
                            <label for="fatherIdType">ID Type:</label>
                            <select [patchParent]="this.submission.patch" [father]="true" name="IdentificationType"
                                id="fatherIdType" class="form-control"
                                [(ngModel)]="this.submission.parentsData[0].IdentificationType" #fatherIdType="ngModel"
                                required>
                                <option value="national">National ID</option>
                                <option value="passport">Passport</option>
                            </select>
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherIdType.touched || fatherIdType.valid ">
                                *Choose ID type</p>
                        </div>
                        <div class="col-md-4">
                            <label for="fatherIdNum">ID Number:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" id="fatherIdNum"
                                name="IdentificationNumber" class="form-control"
                                [(ngModel)]="this.submission.parentsData[0].IdentificationNumber" #fatherIdNum="ngModel"
                                required>
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherIdNum.touched || fatherIdNum.valid ">*Enter
                                ID number</p>
                        </div>
                        <div class="col-md-4">
                            <label for="fatherDob">Date of birth:</label>
                            <input *ngIf="!this.submission.patch; else patch" type="text" name="DateOfBirth"
                                class="form-control" id="fatherDob" ngbDatepicker
                                [minDate]="{year: 1950, month:1, day: 1}" #d="ngbDatepicker" (click)="d.toggle()"
                                [(ngModel)]="this.submission.fatherDateOfBirth" required>

                            <ng-template #patch>
                                <input [patchParent]="this.submission.patch" [father]='true' type="date"
                                    class="form-control" name="DateOfBirth"
                                    [(ngModel)]="this.submission.parentsData[0].DateOfBirth">
                            </ng-template>
                        </div>
                    </div>

                    <div class="row mx-3 my-5">
                        <div class="col-md-4">
                            <label for="fatherProfession">Profession:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" name="Occupation"
                                class="form-control" id="fatherProfession"
                                [(ngModel)]="this.submission.parentsData[0].Occupation" required
                                #fatherProfession="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherProfession.touched || fatherProfession.valid ">*Enter profession</p>
                        </div>
                        <div class="col-md-4">
                            <label for="fatherCompany">Company:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" name="CompanyName"
                                class="form-control" id="fatherCompany"
                                [(ngModel)]="this.submission.parentsData[0].CompanyName">
                            <p style=" font-size: 12px;">*Optional</p>
                        </div>
                        <div class="col-md-4">
                            <label for="fatherMobile">Mobile number:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" class="form-control"
                                type="text" name="Mobile" id="fatherMobile"
                                [(ngModel)]="this.submission.parentsData[0].Mobile" required #fatherMobile="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherMobile.touched || fatherMobile.valid ">
                                *Enter mobile number</p>
                        </div>
                    </div>

                    <div class="row mx-3 my-5">
                        <div class="col-md-4">
                            <label for="fatherEmail">Email:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" name="Email"
                                id="fatherEmail" class="form-control" [(ngModel)]="this.submission.parentsData[0].Email"
                                #fatherEmail="ngModel" required email>
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherEmail.touched || fatherEmail.valid ">
                                *Enter a valid email</p>
                        </div>
                        <div class="col-md-4">
                            <label for="religion">Religion:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" name="Relegion"
                                class="form-control" id="fatherReligion"
                                [(ngModel)]="this.submission.parentsData[0].Relegion" required
                                #fatherReligion="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherReligion.touched || fatherReligion.valid ">
                                *Required</p>
                        </div>
                        <div class="col-md-4">
                            <label for="fatherNationality">Nationality:</label>
                            <input [patchParent]="this.submission.patch" [father]="true" type="text" name="Nationality"
                                class="form-control" id="fatherNationality"
                                [(ngModel)]="this.submission.parentsData[0].Nationality" required
                                #fatherNationality="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !fatherNationality.touched || fatherNationality.valid ">*Required
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card " id="motherDetails" ngModelGroup=motherDetails #motherDetails="ngModelGroup">
            <div class="card-header py-0" id="headingTwo" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="collapse-title">
                    Mother Details
                    <i class="material-icons" style="font-size: 17px; padding-left: 7px;">create</i>
                </div>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">

                    <!-- ////// Mother Form \\\\\\ -->
                    <div class="row mx-3 my-5">
                        <div class="col-md-4">
                            <label for="firstName">First Name:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text" name="FirstName"
                                class="form-control" id="firstName"
                                [(ngModel)]="this.submission.parentsData[1].FirstName" required #firstName="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !firstName.touched || firstName.valid ">*Required</p>
                        </div>
                        <div class="col-md-4">
                            <label for="secondName">Second Name:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text" name="SecondName"
                                class="form-control" id="secondName"
                                [(ngModel)]="this.submission.parentsData[1].SecondName" required #secondName="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !secondName.touched || secondName.valid ">*Required</p>
                        </div>
                        <div class="col-md-4">
                            <label for="thirdName">Third Name:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text" name="ThirdName"
                                class="form-control" id="thirdName"
                                [(ngModel)]="this.submission.parentsData[1].LastName" required #thirdName="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !thirdName.touched || thirdName.valid ">*Required</p>
                        </div>
                    </div>

                    <div class="row mx-3 my-5">
                        <div class="col-md-4">
                            <label for="idType">ID Type:</label>
                            <select [patchParent]="this.submission.patch" [father]="false" name="IdentificationType"
                                id="idType" class="form-control"
                                [(ngModel)]="this.submission.parentsData[1].IdentificationType" #idType="ngModel"
                                required>
                                <option value="national">National ID</option>
                                <option value="passport">Passport</option>
                            </select>
                            <p style="color: brown; font-size: 15px;" [hidden]=" !idType.touched || idType.valid ">
                                *Choose ID type</p>
                        </div>
                        <div class="col-md-4">
                            <label for="idNum">ID Number:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text"
                                id="identificationNumber" name="MotherIdNum" class="form-control"
                                [(ngModel)]="this.submission.parentsData[1].IdentificationNumber" #idNum="ngModel"
                                required>
                            <p style="color: brown; font-size: 15px;" [hidden]=" !idNum.touched || idNum.valid ">*Enter
                                ID number</p>
                        </div>
                        <div class="col-md-4">
                            <label for="motherDob">Date of birth:</label>
                            <input *ngIf="!this.submission.patch; else patch" type="text" name="DateOfBirth"
                                class="form-control" id="motherDob" ngbDatepicker
                                [minDate]="{year: 1950, month:1, day: 1}" #d="ngbDatepicker" (click)="d.toggle()"
                                [(ngModel)]="this.submission.motherDateOfBirth" required>

                            <ng-template #patch>
                                <input [patchParent]="this.submission.patch" [father]='false' type="date"
                                    class="form-control" name="DateOfBirth"
                                    [(ngModel)]="this.submission.parentsData[1].DateOfBirth">
                            </ng-template>
                        </div>
                    </div>

                    <div class="row mx-3 my-5">
                        <div class="col-md-4">
                            <label for="profession">Profession:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text" name="Occupation"
                                class="form-control" id="profession"
                                [(ngModel)]="this.submission.parentsData[1].Occupation" required #profession="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !profession.touched || profession.valid ">*Enter profession
                            </p>
                        </div>
                        <div class="col-md-4">
                            <label for="company">Company:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text" name="CompanyName"
                                class="form-control" id="company"
                                [(ngModel)]="this.submission.parentsData[1].CompanyName">
                            <p style=" font-size: 12px;">*Optional</p>
                        </div>
                        <div class="col-md-4">
                            <label for="mobile">Mobile number:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" class="form-control"
                                type="text" name="Mobile" id="mobile"
                                [(ngModel)]="this.submission.parentsData[1].Mobile" required #mobile="ngModel">
                            <p style="color: brown; font-size: 15px;" [hidden]=" !mobile.touched || mobile.valid ">
                                *Enter mobile number</p>
                        </div>
                    </div>

                    <div class="row mx-3 my-5">
                        <div class="col-md-4">
                            <label for="email">Email:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text" name="Email"
                                id="email" class="form-control" [(ngModel)]="this.submission.parentsData[1].Email"
                                #email="ngModel" required email>
                            <p style="color: brown; font-size: 15px;" [hidden]=" !email.touched || email.valid ">
                                *Enter a valid email</p>
                        </div>
                        <div class="col-md-4">
                            <label for="religion">Religion:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text" name="Relegion"
                                class="form-control" id="religion" [(ngModel)]="this.submission.parentsData[1].Relegion"
                                required #religion="ngModel">
                            <p style="color: brown; font-size: 15px;" [hidden]=" !religion.touched || religion.valid ">
                                *Required</p>
                        </div>
                        <div class="col-md-4">
                            <label for="nationality">Nationality:</label>
                            <input [patchParent]="this.submission.patch" [father]="false" type="text" name="Nationality"
                                class="form-control" id="nationality"
                                [(ngModel)]="this.submission.parentsData[1].Nationality" required
                                #nationality="ngModel">
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !nationality.touched || nationality.valid ">*Required
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="familyStatus" class="card " ngModelGroup=familyStatus #familyStatus="ngModelGroup">
            <div class="card-header py-0" id="headingThree" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="collapse-title">
                    Family Status
                    <i class="material-icons" style="font-size: 17px; padding-left: 7px;">create</i>
                </div>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">

                    <div class="row mx-3 my-5">
                        <div class="col-md-2 pr-0">
                            <label for="maritalStatus">Marital status:</label>
                        </div>
                        <div class="col-md-1 pl-0 ml-2">

                            <div class="form-check mr-2">
                                <input [patchValue]="this.submission.patch" type="radio" class="form-check-input"
                                    id="married" name="MaritalStatus" value="married"
                                    [(ngModel)]="this.submission.familyStatus.MaritalStatus" #maritalStatus="ngModel"
                                    required>
                                <label for="married">Married</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-check mr-2 pl-0">
                                <input [patchValue]="this.submission.patch" type="radio" class="form-check-input"
                                    id="seperated" name="MaritalStatus" value="seperated"
                                    [(ngModel)]="this.submission.familyStatus.MaritalStatus" #maritalStatus="ngModel"
                                    required>
                                <label for="seperated">Seperated</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-check mr-2 pl-0">
                                <input [patchValue]="this.submission.patch" type="radio" name="MaritalStatus"
                                    class="form-check-input" id="divorced" value="divorced"
                                    [(ngModel)]="this.submission.familyStatus.MaritalStatus" #maritalStatus="ngModel"
                                    required>
                                <label for="divorced">Divorced</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-check mr-2 pl-0">
                                <input [patchValue]="this.submission.patch" type="radio" name="MaritalStatus"
                                    class="form-check-input" id="other" value="other"
                                    [(ngModel)]="this.submission.familyStatus.MaritalStatus" #maritalStatus="ngModel"
                                    required>
                                <label for="other">Other</label>
                            </div>
                        </div>


                    </div>

                    <div class="row mx-3 md-5">
                        <div class="col-md-1">
                            <label>Guardian:</label>
                        </div>
                        <div class="col-md-1">
                            <div class="form-check">
                                <input [patchValue]="this.submission.patch" type="radio" name="Guardian" value="father"
                                    class="form-check-input" id="father"
                                    [(ngModel)]="this.submission.familyStatus.Guardian" #guardian="ngModel" required>
                                <label for="father">Father</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-check">
                                <input [patchValue]="this.submission.patch" type="radio" value="mother" name="Guardian"
                                    class="form-check-input" id="mother"
                                    [(ngModel)]="this.submission.familyStatus.Guardian" #guardian="ngModel" required>
                                <label for="mother">Mother</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-check">
                                <input [patchValue]="this.submission.patch" type="radio" value="other" name="Guardian"
                                    class="form-check-input" id="other"
                                    [(ngModel)]="this.submission.familyStatus.Guardian" #guardian="ngModel" required>
                                <label for="other">Other</label>
                            </div>
                        </div>

                    </div>

                    <div class="row mx-3 my-5">
                        <div class="col-md-3">
                            <label for="LangSpoken">What language(s) are spoken at home: </label>
                        </div>
                        <div class="col-md-5 ">
                            <textarea [patchValue]="this.submission.patch" name="LanguageSpoken" id="LangSpoken"
                                cols="1" rows="1" class="form-control"
                                [(ngModel)]="this.submission.familyStatus.LanguageSpoken" #LanguagesSpoken="ngModel"
                                required></textarea>
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !LanguagesSpoken.touched || LanguagesSpoken.valid ">*Required
                            </p>
                        </div>
                    </div>

                    <div class="row mx-3 mt-5">
                        <div class="col-md-2">
                            <label for="GuardianAddress">Guardian's address:</label>
                        </div>
                        <div class="col-md-5">
                            <textarea [patchValue]="this.submission.patch" name="GuardianAddress" id="GuardianAddress"
                                cols="1" rows="1" class="form-control" required
                                [(ngModel)]="this.submission.familyStatus.GuardianAddress"
                                #GuardianAddress="ngModel"></textarea>
                            <p style="color: brown; font-size: 15px;"
                                [hidden]=" !GuardianAddress.touched || GuardianAddress.valid ">*Required
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row mx-3 my-5">
        <div class="col-md-4">
            <button class="btn btn-outline-primary" type="button" (click)="onBack()">Back</button>
        </div>
        <div class="col-md-4 offset-md-4 ">
            <button class="btn btn-primary" type="submit" style="position: absolute; right: 5%;"
                [disabled]="!f.valid">Next</button>
        </div>
    </div>
</form>