<div style="margin-top: 65px;">
    <app-bar [progress]="8"></app-bar>
</div>

<form class="border m-5">
    <div class="row mr-5 my-5 ml-0  align-content-center" style="padding-left:  140px;">
        <div class="col-md-4">
            <div class="form-check">
                <input name="paymentType" type="radio" value="credit" class="form-check-input" id="credit"
                    (click)="paymentChoice('credit')">
                <label for="credit" class="label-img" #credit><img src="./assets/credit.png" alt="credit"
                        class="payment-logo"></label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <input name="paymentType" type="radio" value="fawry" class="form-check-input" id="fawry"
                    (click)="paymentChoice('fawry')">
                <label class="label-img" for="fawry" #fawry><img src="./assets/fawry.svg" alt="fawry"
                        class="payment-logo"></label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check"><input name="paymentType" type="radio" value="bank" class="form-check-input"
                    id="bank" (click)="paymentChoice('nbe')">
                <label class="label-img" for="bank" #nbe><img src="./assets/nbe.png" alt="nbe"
                        class="payment-logo"></label>
            </div>
        </div>
    </div>

    <hr style="width: 1000px;">

    <router-outlet></router-outlet>

    <div class="row mx-3 my-5">
        <div class="col-md-1">
            <button class="btn btn-outline-primary" type="button" (click)="onBack()">Back</button>
        </div>
        <div class="col-md-1 offset-10">
            <button *ngIf="this.router.url != '/applicant/admission/payment'" class="btn btn-primary"
                routerLink='./../applicationReport'>Finish</button>
        </div>
    </div>

</form>