<div class="container-fluid header pl-0">
    <div class="row ml-3">
        <div class="col-md-2 logo">
            <img style="max-width: 100%; height: 50px; " src="/assets/UniversityofPennsylvania_FullLogo_RGB_0.png"
                alt="Logo">
            <p class="admin-logo ">Admin</p>
        </div>
        <div *ngIf="this.router.url != '/admin/signin'" class="col-md-2 offset-8 pl-5">
            <p class="user-name">
                {{adminName}}
            </p>
            <i class="material-icons" style="position: absolute; top: 40%; left: 53%; font-size: 45px; color: white;">
                account_circle</i>

            <div class="dropdown" style="position: relative; top: 34px;">
                <i class="material-icons " id="dropdownMenuButton" data-toggle="dropdown"
                    style="position: absolute; top: 57%; left: 71%; font-size: 25px; color: white; cursor: pointer;"
                    aria-haspopup="true" aria-expanded="false">
                    settings
                </i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>