<div class="container-fluid w-75" style="margin-top: 80px;">
    <div class="row mx-3 my-4 home-panel pt-2" routerLink='../admissionManagement'>
        <div class="col-md-2 offset-1">
            <i class="material-icons " style="font-size: 100px; color: #1d3557;"> library_books</i>
        </div>
        <div class="col-md-9 pt-2">
            <div class="display-4 ">Admission Management</div>
        </div>
    </div>
    <hr>

    <div class="row mx-3 my-4 home-panel" routerLink='../viewApplicants'>
        <div class="col-md-2 offset-1">
            <i class="material-icons" style="font-size: 100px; color: #1d3557;"> account_box</i>
        </div>
        <div class="col-md-9 pt-3">
            <div class="display-4">View Applicants</div>
        </div>
    </div>
    <hr>

    <div class="row mx-3 my-4 home-panel" routerLink='../interviewCriteria'>
        <div class="col-md-2 offset-1 pt-2">
            <i class="material-icons" style="font-size: 100px; color: #1d3557;"> content_paste</i>
        </div>
        <div class="col-md-9 pt-3">
            <div class="display-4">Interview Criteria</div>
        </div>
    </div>
    <hr>

    <div class="row mx-3 my-4 home-panel" routerLink='../applicantsInterview'>
        <div class="col-md-2 offset-1">
            <i class="material-icons" style="font-size: 100px; color: #1d3557;"> people</i>
        </div>
        <div class="col-md-9 pt-2">
            <div class="display-4">Applicants Interview</div>
        </div>
    </div>
</div>