<div class="border main-border my-5">
    <div class="row ">
        <div class="col-md-12 text-center">
            <div class="h2 text-center my-4" style="font-family: Arial, Helvetica, sans-serif; color: #1d3557;">
                Fawry
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-12 text-center">
            <div class="display-4">Fawry order number: {{orderNum}}</div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 ">
            <p class="w-50 text-center" style="margin:auto;">Kindly head to the nearest fawry outlet to complete the
                transaction, and keep
                the receipt.
            </p>
        </div>
    </div>

    <div class="row mb-5  px-3">
        <div class="col-md-2 offset-9  pr-0 pl-5 pt-5">
            <button class="btn btn-primary" type="submit" [routerLink]="['../../', 'applicationReport']">Finish</button>
        </div>
    </div>
</div>