<div class="container-fluid">
    <div class="row nav-main">
        <div class="col-md-2 offset-md-1 text-sm-center navbar-text" routerLink="/applicant/home"
            routerLinkActive="active">
            <a> Home </a>
        </div>
        <div class="col-md-2 text-sm-center navbar-text" routerLinkActive="active">
            <a> Learning </a>
        </div>
        <div class="col-md-2 text-sm-center navbar-text" routerLink="/applicant/admission" routerLinkActive="active">
            <a> Admission </a>
        </div>
        <div class="col-md-2 text-sm-center navbar-text" routerLinkActive="active">
            <a> Calendar </a>
        </div>
        <div class="col-md-2 text-sm-center navbar-text" routerLinkActive="active">
            <a> Academic </a>
        </div>
    </div>
</div>