input.ng-invalid.ng-touched {
  border-color: brown;
}
.add-button {
  color: #1d3557;
  opacity: 0.8;
  transition: 0.6s;
}
.add-button:hover {
  opacity: 1;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
