<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 pr-0">
            <input id="search" class="form-control" type="text" [(ngModel)]="searchTerm"
                placeholder="Applicant name or number">
        </div>
        <div class="col-md-1 px-0 pt-2 text-center " style=" background-color: #343a40; height: 38px;">
            <i class="material-icons" style="cursor: pointer; color: white;">search</i>
        </div>
        <div class="col-md-2  pl-3">

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle close-class" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="background-color: #343a40; color: white; padding: 10px 8px 4px 8px; height: 38px; border-radius: 0px; border: none;"
                    #ddb>
                    <i class="material-icons" style="font-size: 20px;">filter_alt</i>
                </button>
                <div class="dropdown-menu p-3" style="width: 500px; height: auto;" aria-labelledby="dropdownMenuButton"
                    (click)="$event.stopPropagation()">
                    <div class="row pl-4">
                        <label for="status">Status:</label>
                    </div>
                    <div class="row">
                        <div class="col-md-9 pl-4">
                            <select id="status" class="form-control" [(ngModel)]="statusFilter">
                                <option value="New">New</option>
                                <option value="Waiting For Interview">Waiting</option>
                                <option value="Accepted">Accepted</option>
                                <option value="Declined">Declined</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pl-4">
                        <label for="date">Admission Date:</label>
                    </div>
                    <div class="row">
                        <div class="col-md-9 pl-4">
                            <input type="text" class="form-control" [(ngModel)]="dateFilter" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="col-md-3 pl-1">
                            <button class="btn" style="cursor: pointer; background-color: #343a40; color: white;"
                                (click)="onFilter(); ddb.click();"
                                [disabled]="!this.dateFilter && !this.statusFilter">Filter</button>
                        </div>
                    </div>
                    <div class="row pl-4 mt-3">
                        <button class="btn btn-outline-secondary" (click)="onReset(); ddb.click();">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="body-scroll">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-dark">
                        <th style="color: #ffffff; width: 14%;">Applicant Num</th>
                        <th style="color: #ffffff;">Applicant Name</th>
                        <th style="color: #ffffff; width: 14%;">Admission Date</th>
                        <th style="color: #ffffff; width: 14%;">Status</th>
                        <th style="color: #ffffff; width: 8%;">Score</th>
                    </thead>
                    <tbody *ngIf="!this.loading">
                        <tr *ngFor="let applicant of applicantsCopy">
                            <ng-container
                                *ngIf='(applicant.ApplicantName.includes(searchTerm) || searchTerm == "" || applicant.ApplicantId.includes(searchTerm))'>
                                <td>{{applicant.ApplicantId}}</td>
                                <td>{{applicant.ApplicantName}}</td>
                                <td>{{applicant.AdmissionDate}}</td>
                                <td>{{applicant.Status}}</td>
                                <td class="pl-4" [routerLink]="'score/' + applicant.ApplicantId">
                                    <i class="material-icons" style="cursor: pointer; color: #1d3557;">
                                        checklist
                                    </i>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div *ngIf="this.loading" class="row">
        <div class="col-md-12" [align]="'center'">
            <div class="spinner-border text-secondary" style="width: 6rem; height: 6rem;" role="status" #loading>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>